/********************************************************************
*********************************************************************
**	STYLES GLOBAUX
*********************************************************************
*********************************************************************/
html{
	font-size: 62.5%
}
body{
	margin : 0;
	padding: 0;
	font-size: 1.4rem;
}
header, main, nav{
	margin : 0 auto;
	width: 75%;
}
a{
	text-decoration: none;
	color:#000;
	transition: 0.5s;
}
a:hover{
	color: #EEA914;
}
h1, h2{
	text-align:center;
}
/********************************************************************
*********************************************************************
** STYLE DU HEADER
*********************************************************************
*********************************************************************/
header{
	background: url("./../img/bg-header.gif")  no-repeat top center;
	margin:0;
    padding: 5% 0 0% 0;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	width: 100%;	
	font-family: 'Overlock', cursive;
	color:#69696c;
	border-bottom: 1px solid #D1D2CB;
	position: relative;
}
header :after{
	background : url("bg-ombre-address.png") no-repeat center;
}
header p{
	text-align: right;
}
header ul{
	text-align: right;
    position: absolute;
    top: -1%;
    left: 67%;
}
header ul li{
	display: inline-block;		
}

/**
**	Menu de navigation
**/
header nav{
	border-bottom: 1px solid #A3A599;
	background: url("./../img/pat-menu.gif");
	box-shadow: 2px 2px 2px grey;
	border-radius: 5px;
	vertical-align: middle;	
	display: flex;
	justify-content: space-between;
	flex-wrap: no wrap;
	vertical-align: middle;
    padding: 2%;
    margin-top: -3%;
}
header nav ul{
	text-align: center;
	width: 75%;
	font-weight: 700;
	left: 5%;
	top: 7%;
}
header nav ul li{
	width: 15%;
}
header nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Fredoka one",cursive;	
	color: #29888c;
}
header nav ul li:after{
	background-image: url("./img/img-sep.png");/* no-repeat center;*/
}
header nav ul li a:hover{
	transition-duration: 0.5s;
  	transition-property: color;
}

header > img{
	position: absolute;
	left: 45%;
	top: 3%;
	text-align: center;
	transition: 1s;
}
header > img:hover{
	transform : translatey(20px);
	cursor: pointer;
}
header span {
	background: url("./../img/btn-gocart.png") no-repeat cover;
}
.container{
	background: url("./../img/bg-planche-head.jpg") no-repeat fixed;
	background: no-repeat bottom url("./../img/bg-planche-head.jpg");
	margin: 0 auto;
	width: 75%;
	display: flex;
	flex-direction: row;
}
.container h1{
	font-family: "Fredoka One", cursive;
	font-size: 7rem;
	font-weight: 700;
	margin-top: 7.5rem;
	margin-bottom: 0;
	color: #E84743;
	text-transform: uppercase;
}
.container h2{
	font-family: "Cookie", cursive;
	font-size: 5rem;
	font-weight: lighter;
	color: #EEA914;
	margin: -2% 0;
}
.container > img{
	margin-right: 7%;
    padding: 5% 0 7% 15%;
}
header figure:after{
	background: url("./../img/img-planche.png");
}
.container p{
	text-align: left;
}
figcaption img{
	padding-left:0;
	display: inline;
}
button{
	background: url("./../img/btn-gocart.png") no-repeat;	
	padding: 1% 6% 1% 4%;
	border: none;
	font-family: "Fredoka One", cursive;
	color: #fff;
	position: absolute;
    left: 62%;
    top: 62%;
}

/********************************************************************
*********************************************************************
** STYLE DU MAIN
*********************************************************************
*********************************************************************/
main{
	overflow: hidden;
}

article figure{	
	margin: 0;	
	text-align: center;
	display: inline-flex;
	justify-content: space-around;
	flex-direction: row;	
	flex-wrap: wrap;
	width: 24%;	
}
main article figure img{
	border-bottom: 1px solid #A9403D;
	transition: 1s;
}
main article figure img:hover{
	opacity: 0.3;	
}

#biscuits h1{
	color: #EA4743;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
}
main section#biscuits h1:before {
	/*background: url("./../img/bg-rayures.jpg");*/
	background-color: blue;
}
#biscuits h2{
	text-align: center;
	color: #E84743;
}
#biscuits figure figcaption p{
	text-align: center;
}
#biscuits figure figcaption p span{
	background-color: #E84743;
	color: #fff;
	padding: 10px;
	transition : 0.5s;
}
#biscuits figure figcaption p span:hover{
	background-color: #EEA914; 
	cursor: pointer;
}


#secret{
	background-color: #E84743;
}
section#plaisir h1{
	display: block;
}
section#plaisir article{
	display: inline-flex;
	justify-content: space-around;
	flex-direction: row;	
}

section#plaisir div:last-child{
	background-color: blue;
}

/********************************************************************
*********************************************************************
** STYLE DU FOOTER
*********************************************************************
*********************************************************************/
div#prefoot{
	background: url("./../img/bg-planche-head.jpg") no-repeat center fixed;
	background-position: top;
	width: 100%;
}
footer{
	margin:0;
  	padding:0;	
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */	
	text-align: center;
}